{% extends 'dashboard/course-base.html' %}
{% block title %}
Courses
{% endblock %}
{% block main_content %}
{% load static %}
{% load poll_extras %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="{% static 'dashboard/css/courses.css' %}" rel="stylesheet">

<script src="{% static 'dashboard/js/buttons.js' %}"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% if subject or search %}

    <div class="container">

            <form action="{% url 'course-search' %}" class="search-bar" method="get">
                <input type="search" name="q" placeholder="Поиск по курсам" required>
                <button class="search-btn" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>

    </div>
{% endif %}


<section class="d_main align-items-center ">

    <div class="container">
            {% if subject %}
                <h3>Курсы по "{{ subject }}"</h3>
            {% elif search %}
                {% if courses|length < 1 %}
                    <h4 style="text-align: center">Простите, мы ничего не нашли</h4>
                    {% else %}
                    <h3 style="text-align: center">Количество курсов по запросу "{{ search }}": {{ courses|length }}</h3>

                {% endif %}
            {% else %}
                <h3>Мои курсы</h3>
            {% endif %}


    </div>
    <div class="dash_box align-items-center">
        {% for cc in courses %}
        <div class="dash_card">
            <div class="gc-1">
                <img class="course-img" src="{{cc.image.url }}">
                <p class="course-cost">{{cc.lesson_cost}} тг/час</p>
            </div>
            <div class="gc-2">
                <div class="course-desc">
                    <p>{{cc.course_name}}</p>
                </div>
                <p class="author_name"><a href="{% url 'profilePlace' cc.author.profile.pk %}">Автор:
                    {{cc.author}}</a></p>

                <div class="link-tags">
                    <a>#C++</a>, <a>#Java</a>
                </div>
                <div class="calendar">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <p>{{cc.date_lesson}} {{cc.start_time}}</p>
                </div>

                <div class="time">
                    <i class="fa fa-clock" aria-hidden="true"></i>
                    <p>{{cc.duration}}</p>
                </div>
            </div>
            <div class="gc-2 gr-2 course-link">
                <a href="{% url 'course-detail' cc.pk %}" class="go_" onclick="show()">GO!</a>
            </div>
        </div>
        {% endfor %}
    <br>
        </div>

        <div class="col-md-12 text-center">
            <button id="more" class="go_" style="text-align: center" > Показать больше курсов</button>
        </div>


</section>
{% endblock main_content %}